<div class="popular-series-page">
    <div class="page-header">
        <h1>Most Popular Series</h1>
        <p>Discover the most popular series right now</p>
    </div>

    <div *ngIf="isLoading" class="state-message loading">
        Loading popular series
    </div>

    <div *ngIf="!isLoading && errorMessage" class="state-message error">
        {{ errorMessage }}
    </div>

    <div *ngIf="!isLoading && !errorMessage" class="series-list">
        <div
        class="movie-row"
        *ngFor="let serie of series; let i = index; trackBy: trackBySeriesId"
        >
        <div class="rank">
            {{ ((currentPage - 1) * 20) + i + 1}}
        </div>

        <div class="poster">
            <img
            [src]="getPoster(serie)"
            [alt]="getTitle(serie)"
            />
        </div>

        <div class="movie-info">
            <a
                class="movie-title"
                [routerLink]="['/details', 'movie', serie.id]"
                >
                {{ getTitle(serie) }}
            </a>

            <div class="movie-meta">
                <span>{{ getReleaseYear(serie) }}</span>
                <span class="dot">•</span>
                <span>Serie</span>
            </div>

            <p class="overview">
                {{ serie.overview || 'No description available.'}}
            </p>
        </div>

        <div class="rating">
            <span class="star">★</span>
            <span>{{ getRating(serie) }}</span>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && !errorMessage && series.length > 0" class="pagination">
    <button
        type="button"
        (click)="goToPreviousPage()"
        [disabled]="currentPage === 1"
    >
    Previous
    </button>

    <span>Page {{ currentPage }} of {{ totalPages}} </span>

    <button
        type="button"
        (click)="goToNextPage()"
        [disabled]="currentPage === totalPages"
    >
    Next
    </button>

</div>
</div>