<div class="search-engine">
  <input
    type="text"
    [(ngModel)]="searchText"
    (input)="onSearchInput()"
    (focus)="onSearchFocus()"
    (blur)="onSearchBlur()"
    placeholder="Søg efter brugere, film, serier eller celebs"
  />

  <div class="search-results" *ngIf="showResults">
    <div class="search-section" *ngIf="filteredUsers.length > 0">
      <div class="search-section-title">Brugere</div>

      <div
        class="search-result-item user-result"
        *ngFor="let user of filteredUsers"
        (mousedown)="openUserProfile(user)"
      >
        <div class="result-main-text">
          {{ user.username }}
        </div>
      </div>
    </div>

    <div class="search-section" *ngIf="filteredMedia.length > 0">
      <div class="search-section-title">Film, serier og celebs</div>

      <div
        class="search-result-item media-result"
        *ngFor="let item of filteredMedia"
        (mousedown)="openMedia(item)"
      >
        <img
          class="media-poster"
          *ngIf="getMediaPoster(item)"
          [src]="getMediaPoster(item)"
          [alt]="getMediaTitle(item)"
        />

        <div class="media-texts">
          <div class="result-main-text">
            {{ getMediaTitle(item) }}
          </div>

          <div class="result-sub-text">
            {{ getMediaTypeLabel(item.media_type) }}
            <span *ngIf="getMediaDate(item)">• {{ getMediaDate(item) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search-section" *ngIf="mediaLoading">
      <div class="search-loading-text">Henter film, serier og celebs...</div>
    </div>
  </div>
</div>