<div class="dashboard">
    
        
            <h1>Dashboard</h1>
            <p class="subtitle">Welcome{{ username }} </p>
        </div>

        <div class="=links">
            <div class="card">Movies</div>
            <div class="card">Series</div>
            <div class="card">My List</div>
            <div class="card">Profile</div>
        </div>

        <div class="section">
            <h2>Continue Watching</h2>
            <div class="row">
                <div class="item" *ngFor="let item of continueWatching">
                    <div class="box"></div>
                    <div class="text">
                        <div class="title">{{item.title}}</div>
                        <div class="info">{{item.info}}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
        <h2>Recommended</h2>
        <div class="row">
            <div class="item" *ngFor="let item of recommended">
                <div ckass="box"></div>
                <div class="text">
                    <div class="title">{{item.title}}</div>
                    <div class="info">{{item.info}}</div>
                    </div>
                </div>
            </div>
        </div>
        
