<div class="forgot-password-container">
    <h2>Forgot password</h2>

    <form (submit)="resetPassword($event)">

        <label>Email</label>
        <input
         type="email"
         [(ngModel)]="email"
         name="email"
         required=
         />

         <p *ngIf="errorMessage" style="color: red;">
            {{errorMessage}}
         </p>
          <p *ngIf="successMessage" style="color: green;">
            {{successMessage}}
         </p>
         <button type="submit" [disabled]="loading">
            {{ loading ? 'Sending...' : 'Send reset email' }}</button>
    </form>

    <p>
        Remembered your password?
        <button type="button" (click)="goToLogin()">Back to login</button>
    </p>
</div>