<div class="watchlist-button-wrapper">
  <button
    type="button"
    class="watchlist-button"
    [class.in-watchlist]="isInWatchlist"
    [disabled]="loading"
    (click)="toggleWatchlist($event)"
  >
    <span *ngIf="!loading && !isInWatchlist">Add to watchlist</span>
    <span *ngIf="!loading && isInWatchlist">Remove from watchlist</span>
    <span *ngIf="loading">Loading...</span>
  </button>

  <div
    class="watchlist-message"
    [class.error]="isError"
    *ngIf="message"
  >
    {{ message }}
  </div>
</div>