<div class="register-container">
    <h2>Create Account</h2>

    <form (submit)="register($event)">

        <label>Email</label>
        <input type="email"
            [(ngModel)]="email"
            name="email"
            required/>


        <label>Username</label>
        <input type="text"
            [(ngModel)]="username"
            name="username"
            required/>
        

        <label>Password</label>
        <input type="password"
            [(ngModel)]="password"
            name="password"
            required/>


        <label>Confirm Password</label>
        <input type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required/>

            <p *ngIf="errorMessage" style="color:red">
                {{errorMessage}}
            </p>

            <button type="submit" [disabled]="loading">
                {{loading ? 'Creating account...' : 'Register'}}</button>

    </form>

    <p>
        Already have an account?
        <button type="button" (click)="goToLogin()">Login</button>
    </p>

</div>